<%- include('header') -%>
    <div class="container">
        <%- include ('navbar') -%>
            <h2 class="h3">
                <%= title %>
            </h2>
    </div>
    <% include('footer') %>